body{
    background-image: url(kepek/finland-flag.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.tomb{
    background-color: rgba(255, 255, 255,0.7);
}
.cim{
    font-size: 120%;
    font-family: Mogra, system-ui;
}
.kep{
    height: 300px;
}
.leiras{
    text-align: center;
}
.kartya{
    border:1px,solid,blue;
    box-shadow: 3px 3px;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;
}

.sajatBetuTipus{
    font-family: Mogra;
}